
body {
text-align: center;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11pt;
background-color: #f5f5f5;
}

a:link, a:visited, a:active, a:hover {
color: #0000b0;
}

.intro {
width: 74%;
margin-left: 20%;
margin-right: auto;
}

div.announce {
font-size: 1.1em;
font-style: italic;
color: #8fbc8f;
}

div.hd {
text-align: left;
width: 60%;
margin: 10px auto 10px 20%;
clear: both;
}

h1 {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
font-size: 18pt;
color: #87ceeb;
text-align: center;
outline-style: none;
}

h2, h3, h4, h5, h6 {
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 15pt;
color: #ffffff;
background-color: #000000;
border: solid thin #000099;
font-weight: bold;
margin: 20px 20px 20px 20%;
padding: 10px 0px;
text-align: center;
width: 200px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
outline-style: none;
overflow: hidden;
}

.tal {
text-align: left;
}

div.search {
border-color: #222;
border-spacing: 2px 2px;
border-width: medium;
color: #222;
font-family: arial, sans-serif;
font-size: 12pt;
font-weight: 400;
padding: 1px;
scrollbar-dark-shadow-color: #404040;
scrollbar-face-color: #d4d0c8;
scrollbar-highlight-color: #ffffff;
scrollbar-shadow-color: #808080;
scrollbar3d-light-color: #d4d0c8;
text-align: center;
}

input[name=q] {
background-color: #fff;
border-bottom: #d9d9d9 1px solid;
border-left: #d9d9d9 1px solid;
border-right: #d9d9d9 1px solid;
border-top: silver 1px solid;
color: #000;
outline-color: invert;
outline-style: none;
outline-width: medium;
outline: invert;
padding: 5px 8px 0px 6px;
}

div.auto {
background-color: #fff;
border-collapse: separate;
border-color: #d4d0c8;
border-spacing: 2px 2px;
border-width: medium;
color: #222;
font-family: arial, sans-serif;
font-size: small;
font-weight: 400;
scrollbar-arrow-color: #000000;
scrollbar-base-color: #222;
scrollbar-dark-shadow-color: #404040;
scrollbar-face-color: #d4d0c8;
scrollbar-highlight-color: #ffffff;
scrollbar-shadow-color: #808080;
scrollbar3d-light-color: #d4d0c8;
text-align: left;
}

.screenReading {
font-size: 0;
height: 0;
width: 0;
position: absolute;
overflow: hidden;
z-index: -1000;
}

div.sugItem:focus {
outline: #000099 2px inset;
}
